#fieldset{
    text-align: center;
    animation: 10s reverse infinite;
    border-radius: 2em;
    height: 74%;
    width: 70%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 15px 40px rgb(237, 237, 137);
    background-color: #fffDD0;
    align-items: center;
    
}

#submit{
background-color: #4449f0;
border: none;
padding: 8px;
width: 2cm;
box-sizing: 3%;
border-radius: 3em;
margin-top: 3%;
color: #ffffff;
}

h1{
  text-align: center;
}

form{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  height: 100vh;
  
}

body{

  margin: 0;
  background: url(images/body.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(30px);
}

.input{
  border-radius: 5px;
  border: 1px solid;
  box-sizing: border-box;
  height: 30px;
  width: 59%;
  font-style: sans-serif;
  width: 50%;
  font-size: medium;
  }

.space{
    text-align: right;
    margin-right: 15%;
  }

.label{
  color: #000080;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: inline-block; 
  text-align: right;
margin-right: 10px;
}

#log{
  height: 3.5cm;
  padding-bottom: 3px;
  margin-bottom: 8px;
  border-radius: 50%;
  text-align: center;
}

#links{
  display: flex;
  gap: 120px;
  margin-left: 150px;
  margin-right: 1cm;
}

#tosignup{
  color: red;
}

#toforgotpassword{
  color: red;
}

#rem{
  margin-top: 30px;
}

strong{
  font-size: xx-large;
  font-weight: 900;
}

.form-box{
   
    border-radius: 2em;
    height: 96%;
    width: 66%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 15px 40px rgb(237, 237, 137);
    background-color: #fffDD0;
    align-items: center;
    
}

#right{
float: right;
object-fit: cover;
}

#left{
  float: left;
  background: url(images/download.jpg);
  width: 50%;
  margin-left: 0%;
  padding-left: 0%;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
}